<section class="top-world-page">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h1>Top World Stories</h1>
    </div>
  </div>

  <div id="top-world-stories"></div>
</section>