<section class="top-stories-politics-page">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h1>Top Political Stories</h1>
    </div>
  </div>

  <div id="top-stories-politics-articles"></div>
</section>