<section class="newswire-page">
    <div class="row">
        <div class="large-12 large-centered columns">
          <h1>Current NewsWire</h1>
          <a id='fetch-newswire-articles' class='button'>Fetch</a>
        </div>
    </div>

    <div id="newswire-article"></div>
</section>