<section class="top-technology-page">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h1>Top Technology Stories</h1>
    </div>
  </div>

  <div id="top-technology-stories"></div>
</section>