<section class="top-nation-page">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h1>Top National Stories</h1>
    </div>
  </div>

  <div id="top-nation-stories"></div>
</section>