<section class="top-business-page">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h1>Top Business Stories</h1>
    </div>
  </div>

  <div id="top-business-stories"></div>
</section>