<section class="top-stories-business-page">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h1>Top Business Stories</h1>
        <button id='fetch-business-articles' class='button'>Fetch</button>
    </div>
  </div>

  <div id="top-stories-business-articles"></div>
</section>