$(document).ready(function() {
    getNewswire()
    fetchNewswire()
});

function getNewswire() {
    $.ajax({
        type: "GET",
        url: "https://api.nytimes.com/svc/news/v3/content/all/all.json?api-key=<%= ENV["nytimes_newswire_api_key"] %>",
        success: function(newswires){
            var articles = newswires.results;

            $.each(articles, function(index, article) {
                renderArticleTitle(article);
                renderArticleBylineSection(article);
                renderArticleAbstract(article);
                renderArticleImageMap(article);
                renderArticleLink(article);
            });
        }
    })
}

function fetchNewswire() {
    $("#fetch-newswire-articles").on("click", function() {
    $.ajax({
        type: "GET",
        url: "https://api.nytimes.com/svc/news/v3/content/all/all.json?api-key=<%= ENV["nytimes_newswire_api_key"] %>",
        success: function(newswires){
            var articles = newswires.results;

            $.each(articles, function(index, article) {
                var newArticleDate = new Date(article.created_date);
                var mostRecentArticleDateString = $(".newswire-articles").first().data("created-date");

                if (typeof(mostRecentArticleDateString) === "string") {
                    var recentArticleDate = new Date(mostRecentArticleDateString)
                }

                if (recentArticleDate < newArticleDate) {
                    renderArticleTitle(article);
                    renderArticleBylineSection(article);
                    renderArticleAbstract(article);
                    renderArticleImage(article);
                    renderArticleMap(article);
                    renderArticleLink(article);
//                    debugger;
                }
            });
        }
    })
    })
}

function renderArticleTitle(article) {
    $("#newswire").append(
            "<div class='newswire-articles newswire-page' data-created-date='"+article.created_date+"'>"
                +"<div class='row'>"
                    +"<div class='medium-12 columns'>"
                        +"<div class='article-title'>"
                            +"<h4>"+article.title+"</h4>"
                        +"</div>"
                    +"</div>"
                +"</div>"
            +"</div>"
    )
}

function renderArticleBylineSection(article) {
    $("#newswire").append(
            "<div class='newswire-articles'>"
                +"<div class='row'>"
                    +"<div class='medium-6 columns'>"
                        +"<div class='article-byline'>"
                            +"<p>"+article.byline+"</p>"
                        +"</div>"
                    +"</div>"
                    +"<div class='medium-6 columns'>"
                        +"<div class='article-section'>"
                            +"<p>"+article.section+"</p>"
                        +"</div>"
                    +"</div>"
                +"</div>"
            +"</div>"
    )
}

function renderArticleAbstract(article) {
    $("#newswire").append(
            "<div class='newswire-articles'>"
                +"<div class='row'>"
                    +"<div class='medium-12 columns'>"
                        +"<div class='article-abstract'>"
                            +"<p>"+article.abstract+"</p>"
                        +"</div>"
                    +"</div>"
                +"</div>"
            +"</div>"
    )
}

function renderArticleImageMap(article) {
    var imageSource = article.multimedia[3];
    var defaultImage = "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png";

    if (article.multimedia.length < 4) {
        $("#newswire").append(
                "<div class='newswire-articles'>"
                    +"<div class='row'>"
                        +"<div class='medium-6 columns'>"
                            +"<div class='article-image'>"
                                +"<img src='"+defaultImage+"'>"
                            +"</div>"
                        +"</div>"
                    +"</div>"
                +"</div>"
        )
    } else {
        $("#newswire").append(
                "<div class='newswire-articles'>"
                    +"<div class='row'>"
                        +"<div class='medium-6 columns'>"
                            +"<div class='article-image'>"
                                +"<img src='"+imageSource.url+"'>"
                            +"</div>"
                        +"</div>"
                    +"</div>"
                +"</div>"
        )
    }

    var mapImage = "<img src=https://maps.googleapis.com/maps/api/staticmap?center="+article.geo_facet[0]+"&zoom=4&size=300x300&maptype=roadmap&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C"+article.geo_facet[0]+"&key=<%= ENV['google_static_maps_api_key'] %>";
    var mapUnavailable = "http://pdportal.maineadulted.org/images/graphics/map-not-available_lg.gif";

    if (article.geo_facet.length < 1) {
        $("#newswire").append(
                "<div class='newswire-articles'>"
                    +"<div class='row'>"
                        +"<div class='medium-6 columns'>"
                            +"<div class='article-map'>"
                                +"<img src='"+mapUnavailable+"'>"
                            +"</div>"
                        +"</div>"
                    +"</div>"
                +"</div>"
        )
    } else {
        $("#newswire").append(
                "<div class='newswire-articles'>"
                    +"<div class='row'>"
                        +"<div class='medium-6 columns'>"
                            +"<div class='article-map'>"
                                +"<img src='"+mapImage+"'>"
                            +"</div>"
                        +"</div>"
                    +"</div>"
                +"</div>"
        )
    }

}

function renderArticleLink(article) {
    $("#newswire").append(
            "<div class='newswire-articles'>"
                +"<div class='row'>"
                    +"<div class='medium-12 columns'>"
                        +"<div class='article-link'>"
                            +"<a class='button' href='"+article.url+"'>Read More</a>"
                        +"</div>"
                    +"</div>"
                +"</div>"
            +"</div>"
            +"<hr>"
    )
}
