$(document).ready(function(){
    $.ajax({
        type: "GET",
        url: "http://api.nytimes.com/svc/news/v3/content/all/all.json?api-key=<%= ENV["nytimes_newswire_api_key"]  %>",
        success: function(articles){
            var arts = articles.results;
            $.each(arts, function(index, art){
                $("#newswire-articles").append(
                "<div class='' id=''>"
                +art.title
                +"</div>"
                )
            })
        }
    })
});