//$(document).ready(function(){
//    getTechnologyArticles();
//    fetchTechnologyArticlesButton()
//});
//
//function fetchTechnologyArticlesButton() {
//    $("#fetch-technology-articles").on("click", function() {
//        getNewswireArticles()
//    })
//}
//
//function getTechnologyArticles() {
//    $.ajax({
//        type: "GET",
//        url: "http://api.nytimes.com/svc/topstories/v1/technology.json?api-key=<%= ENV["nytimes_top_stories_api_key"]  %>",
//        success: function(articles){
//            var stories = articles.results;
//            $.each(stories, function(index, story){
//                var newArticleDate        = story.created_date;
//                var lastArticleDate = $(".top-stories-technology-articles").last().data("created_date");
//
//                if (lastArticleDate === undefined || lastArticleDate < newArticleDate) {
//                    renderTechnologyStory(story)
//                }
//            })
//        }
//    })
//}
//
//function renderTechnologyStory(story) {
//    $("#top-stories-technology-articles").append(
//            "<div class='top-stories-technology-articles'>"
//            +"<div class='row'>"
//            +"<div class='medium-12 columns top-stories-technology-title'>"
//            +"<h4>"+story.title+"</h4>"
//            +"<h6>"+new Date(story.created_date)+"</h6>"
//            +"</div>"
//            +"</div>"
//            +"<div class='row'>"
//            +"<div class='medium-6 columns top-stories-technology-byline'>"
//            +"<p>"+story.byline+"</p>"
//            +"</div>"
//            +"<div class='medium-6 columns top-stories-technology-section'>"
//            +"<p>"+story.section+"</p>"
//            +"</div>"
//            +"</div>"
//            +"<div class='row'>"
//            +"<div class='medium-12 columns top-stories-technology-abstract'>"
//            +"<p>"+story.abstract+"</p>"
//            +"</div>"
//            +"</div>"
//            +"<div class='row'>"
//            +"<div>"
//            +"<a class='button' href='"+story.url+"'>Read More</a>"
//            +"</div>"
//            +"<div>"
//            +"<img src=https://maps.googleapis.com/maps/api/staticmap?center="
//            +story.geo_facet
//            +"&zoom=4&size=300x300&maptype=roadmap&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C"
//            +story.geo_facet
//            +"&key=<%= ENV['google_static_maps_api_key'] %>"
//            +">"
//            +"<hr>"
//            +"</div>"
//    );
//}