//$(document).ready(function(){
//    getBusinessArticles()
//    fetchBusinessArticlesButton()
//});
//
//function fetchBusinessArticlesButton() {
//    $("#fetch-business-articles").on("click", function() {
//        getBusinessArticles()
//    })
//}
//
//function getBusinessArticles() {
//    $.ajax({
//        type: "GET",
//        url: "http://api.nytimes.com/svc/topstories/v1/business.json?callback=getBusinessArticles&api-key=<%= ENV["nytimes_top_stories_api_key"]  %>",
//        success: function(articles){
//            var stories = articles.results;
//            $.each(stories, function(index, story){
//                var newArticleDate        = story.created_date;
//                var lastArticleDate = $(".top-stories-business-articles").last().data("created-date");
//
//                if (lastArticleDate === undefined || lastArticleDate > newArticleDate) {
//                    renderBusinessStory(story)
//                }
//            })
//        }
//    })
//}
//
//function renderBusinessStory(story) {
//    $("#top-stories-business-articles").append(
//            "<div class='top-stories-business-articles' data-created-date='"+story.created_date+"'>"
//            +"<div class='row'>"
//            +"<div class='medium-12 columns top-stories-business-title'>"
//            +"<h4>"+story.title+"</h4>"
//            +"<h6>"+new Date(story.created_date)+"</h6>"
//            +"</div>"
//            +"</div>"
//            +"<div class='row'>"
//            +"<div class='medium-6 columns top-stories-business-byline'>"
//            +"<p>"+story.byline+"</p>"
//            +"</div>"
//            +"<div class='medium-6 columns top-stories-business-section'>"
//            +"<p>"+story.section+"</p>"
//            +"</div>"
//            +"</div>"
//            +"<div class='row'>"
//            +"<div class='medium-12 columns top-stories-business-abstract'>"
//            +"<p>"+story.abstract+"</p>"
//            +"</div>"
//            +"</div>"
//            +"<div class='row'>"
//            +"<div>"
//            +"<a class='button' href='"+story.url+"'>Read More</a>"
//            +"</div>"
//            +"<div>"
//            +"<img src=https://maps.googleapis.com/maps/api/staticmap?center="
//            +story.geo_facet
//            +"&zoom=4&size=300x300&maptype=roadmap&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C"
//            +story.geo_facet
//            +"&key=<%= ENV['google_static_maps_api_key'] %>"
//            +">"
//            +"<hr>"
//            +"</div>"
//    );
//}