$(document).ready(function(){
    getNationArticles();
    fetchNationArticlesButton()
});

function fetchNationArticlesButton() {
    $("#fetch-newswire-articles").on("click", function() {
        getNewswireArticles()
    })
}

function getNationArticles() {
    $.ajax({
        type: "GET",
        url: "http://api.nytimes.com/svc/topstories/v1/national.json?api-key=<%= ENV["nytimes_top_stories_api_key"]  %>",
        success: function(articles){
            var stories = articles.results;
            $.each(stories, function(index, story){
                var newArticleDate        = new Date(story.created_date);
                var lastArticleDate = $(".top-stories-nation-articles").last().children().data("created_date");

                if (lastArticleDate === undefined || lastArticleDate > newArticleDate) {
                    renderNationStory(story)
                }
            })
        }
    })
}

function renderNationStory(story) {
    $("#top-stories-nation-articles").append(
            "<div class='top-stories-nation-articles' data-created-date='"+story.created_date+"'>"
            +"<div class='row'>"
            +"<div class='medium-12 columns top-stories-nation-title'>"
            +"<h4>"+story.title+"</h4>"
            +"<h6>"+new Date(story.created_date)+"</h6>"
            +"</div>"
            +"</div>"
            +"<div class='row'>"
            +"<div class='medium-6 columns top-stories-nation-byline'>"
            +"<p>"+story.byline+"</p>"
            +"</div>"
            +"<div class='medium-6 columns top-stories-nation-section'>"
            +"<p>"+story.section+"</p>"
            +"</div>"
            +"</div>"
            +"<div class='row'>"
            +"<div class='medium-12 columns top-stories-nation-abstract'>"
            +"<p>"+story.abstract+"</p>"
            +"</div>"
            +"</div>"
            +"<div class='row'>"
            +"<div>"
            +"<a class='button' href='"+story.url+"'>Read More</a>"
            +"</div>"
            +"<hr>"
            +"</div>"
    );
}