/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/*Custom CSS*/
/*NewsWire Page*/
.newswire-page {
    background-color: grey;
}

.newswire-title {
    background-color: #FF7706;
}

.newswire-byline {
    background-color: #FF9238;
}

.newswire-section{
    background-color: #FF9238;
}

.newswire-abstract{
    background-color: #FFAA64;
}

.newswire-link {
}

/*Top Stories - Business Page*/
.top-stories-business-page {
    background-color: grey;
}

.top-stories-business-title {
    background-color: #1749BD;
}

.top-stories-business-byline {
    background-color: #3B64C3;
}

.top-stories-business-section {
    background-color: #3B64C3;
}

.top-stories-business-abstract {
    background-color: #5F81CF;
}

/*Top Stories - National Page*/
.top-stories-nation-page {
    background-color: grey;
}

.top-stories-nation-title {
    background-color: #1749BD;
}

.top-stories-nation-byline {
    background-color: #3B64C3;
}

.top-stories-nation-section {
    background-color: #3B64C3;
}

.top-stories-nation-abstract {
    background-color: #5F81CF;
}



.story-card {
    /*background-image: url("busy-people-background.jpg");*/
    margin-top: 25px;

}

.story-header {
    background-color: darkgrey;
    height: 50px;
    margin-bottom: 5px;
}

h3 {
    color: gainsboro;
}

@media only screen and (min-width: 40em) {
    .top-bar {
        text-align: center;
    }

    ul.center-buttons {
        display: inline-block; }

    .logo {
        left: 5px;
        top: -2px;
        position: absolute; } }
.logo {
    max-width: 2rem;
    margin-top: -3px;
    margin-left: 5px; }

.menu-icon {
    padding-top: 1.2rem; }

.top-bar.expanded {
    background: #666666; }

.logo {
    margin-top: .5rem; }


.story-wrapper {
    height: 200px;
    margin-top: 5px;
}

.story-frame {
    background-color: grey;
    height: 200px;
    margin-top: 5px;
}

.story-title {
    height: 200px;
}

.story-footer {
    height: 50px;
    margin-top: 5px;
}

.story-map{
    height: 200px;
    margin-top: 5px;
}

.newswire {
    width: 50%;
    height: 50px;
    background-color: #666666;

}

.card {
    height: 250px;
    width: 200px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.card-divider {
    background-color: #666666;
    display: inline-block;
    height: 25px;
    width: 200px;
}

.card-section {
    background-color: darkgrey;
    display: inline-block;
    height: 50px;
    width: 200px;
    overflow: hidden;
}


.headline {
    float: right;
    display: block;
}

.byline {
    float: right;
    display: inline-block;
}

.thumbnail_image {
    height: 75px;
    width: 75px;
}

.story_image {
    height: 200px;
    width: 450px;
    float: right;
}

.map_image {
    height: 200px;
    width: 440px;
}

.modal-map {
    height: 400px;
    width: 400px;
}

