/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/*Custom CSS*/
/*NewsWire Page*/
.newswire-page {
    background-color: grey;
}

.article-title {
    background-color: #FF7706;
    margin: 0 0 0 0;
    padding-left: 15px;
    padding-right: 15px;

}

.article-byline {
    background-color: #FF9238;
    margin: 0 0 0 0;

}

.article-section{
    background-color: #FF9238;
    margin: 0 0 0 0;

}

.article-abstract{
    background-color: #FFAA64;
    margin: 0 0 0 0;
}

.article-image {
    background-color: #FF9238;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

.article-map {
    background-color: #FF7706;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}


.article-link {
    margin: 0 0 0 0;
}

/*Top Stories - Business Page*/
.top-stories-business-page {
    background-color: grey;
}

.top-stories-business-title {
    background-color: #1749BD;
}

.top-stories-business-byline {
    background-color: #3B64C3;
}

.top-stories-business-section {
    background-color: #3B64C3;
}

.top-stories-business-abstract {
    background-color: #5F81CF;
}

/*Top Stories - National Page*/
.top-stories-nation-page {
    background-color: grey;
}

.top-stories-nation-title {
    background-color: #1749BD;
}

.top-stories-nation-byline {
    background-color: #3B64C3;
}

.top-stories-nation-section {
    background-color: #3B64C3;
}

.top-stories-nation-abstract {
    background-color: #5F81CF;
}

/*Top Stories - World Page*/
.top-stories-world-page {
    background-color: grey;
}

.top-stories-world-title {
    background-color: #AA3939;
}

.top-stories-world-byline {
    background-color: #D46A6A;
}

.top-stories-world-section {
    background-color: #D46A6A;
}

.top-stories-world-abstract {
    background-color: #FFAAAA;
}

/*Top Stories - Politics Page*/
.top-stories-politics-page {
    background-color: grey;
}

.top-stories-politics-title {
    background-color: #57AE14;
}

.top-stories-politics-byline {
    background-color: #74C933;
}

.top-stories-politics-section {
    background-color: #74C933;
}

.top-stories-politics-abstract {
    background-color: #93DE5A;
}

/*Top Stories - Technology Page*/
.top-stories-technology-page {
    background-color: grey;
}

.top-stories-technology-title {
    background-color: #CCCC2D;
}

.top-stories-technology-byline {
    background-color: #E1E153;
}

.top-stories-technology-section {
    background-color: #E1E153;
}

.top-stories-technology-abstract {
    background-color: #FFFF87;
}

/*Article Search Page*/
.article-search-page {
    background-color: darkgray;
}



.story-wrapper {
    height: 200px;
    margin-top: 5px;
}

.story-frame {
    background-color: grey;
    height: 200px;
    margin-top: 5px;
}

.story-title {
    height: 200px;
}

.story-footer {
    height: 50px;
    margin-top: 5px;
}

.story-map{
    height: 200px;
    margin-top: 5px;
}

.newswire {
    width: 50%;
    height: 50px;
    background-color: #666666;

}

.card {
    height: 250px;
    width: 200px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.card-divider {
    background-color: #666666;
    display: inline-block;
    height: 25px;
    width: 200px;
}

.card-section {
    background-color: darkgrey;
    display: inline-block;
    height: 50px;
    width: 200px;
    overflow: hidden;
}


.headline {
    float: right;
    display: block;
}

.byline {
    float: right;
    display: inline-block;
}

.thumbnail_image {
    height: 75px;
    width: 75px;
}

.story_image {
    height: 200px;
    width: 450px;
    float: right;
}

.map_image {
    height: 200px;
    width: 440px;
}

.modal-map {
    height: 400px;
    width: 400px;
}

