/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/*Custom CSS*/
/*Featured Article CSS*/
.story-card {
    background-image: url("busy-people-background.jpg");
    margin-top: 25px;

}

.story-header {
    background-color: blue;
    height: 50px;
}

.story-wrapper {
    height: 200px;
}

.story-frame {
    background-color: grey;
    height: 200px;
}

.story-title {
    height: 200px;
}

.story-footer {
    background-color: blue;
    height: 50px;
}

.story-photo {
    height: 150px;
    width: 100%;
    background-color: gold;


}

.newswire {
    width: 50%;
    height: 50px;
    background-color: #666666;

}

.card {
    height: 250px;
    width: 200px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.card-divider {
    background-color: #666666;
    display: inline-block;
    height: 25px;
    width: 200px;
}

.card-section {
    background-color: darkgrey;
    display: inline-block;
    height: 50px;
    width: 200px;
    overflow: hidden;
}


.headline {
    float: right;
    display: block;
}

.byline {
    float: right;
    display: inline-block;
}

.thumbnail_image {
    height: 75px;
    width: 75px;
}

.story_image {
    max-height: 250px;
    width: 450px;
    float: right;
}

.map_image {
    height: 200px;
    width: 440px;
}

