/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/*Custom CSS*/
/*NewsWire Page*/
.newswire-page {
     background-color: grey;
 }

.article-title {
    background-color: #FF7706;
    margin: 0 0 0 0;
    padding-left: 15px;
    padding-right: 15px;

}

.article-byline {
    background-color: #FF9238;
    margin: 0 0 0 0;

}

.article-section{
    background-color: #FF9238;
    margin: 0 0 0 0;

}

.article-abstract{
    background-color: #FFAA64;
    margin: 0 0 0 0;
}

.article-image {
    background-color: #FF9238;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

.article-map {
    background-color: #FF7706;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}


.article-link {
    margin: 0 0 0 0;
}

/*Top World Stories*/
.top-world-page {
    background-color: grey;
}

.world-article-title {
    background-color: #1749BD;
    margin: 0 0 0 0;
    padding-left: 15px;
    padding-right: 15px;

}

.world-article-byline {
    background-color: #3B64C3;
    margin: 0 0 0 0;

}

.world-article-section{
    background-color: #3B64C3;
    margin: 0 0 0 0;

}

.world-article-abstract{
    background-color: #5F81CF;
    margin: 0 0 0 0;
}

.world-article-image {
    background-color: #3B64C3;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

.world-article-map {
    background-color: #1749BD;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

/*Top Nation Stories*/
.top-nation-page {
    background-color: grey;
}

.nation-article-title {
    background-color: #AA3939;
    margin: 0 0 0 0;
    padding-left: 15px;
    padding-right: 15px;

}

.nation-article-byline {
    background-color: #D46A6A;
    margin: 0 0 0 0;

}

.nation-article-section{
    background-color: #D46A6A;
    margin: 0 0 0 0;

}

.nation-article-abstract{
    background-color: #FFAAAA;
    margin: 0 0 0 0;
}

.nation-article-image {
    background-color: #D46A6A;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

.nation-article-map {
    background-color: #AA3939;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

/*Top Politic Stories*/
.top-politic-page {
    background-color: grey;
}

.politic-article-title {
    background-color: #57AE14;
    margin: 0 0 0 0;
    padding-left: 15px;
    padding-right: 15px;

}

.politic-article-byline {
    background-color: #74C933;
    margin: 0 0 0 0;

}

.politic-article-section{
    background-color: #74C933;
    margin: 0 0 0 0;

}

.politic-article-abstract{
    background-color: #93DE5A;
    margin: 0 0 0 0;
}

.politic-article-image {
    background-color: #74C933;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

.politic-article-map {
    background-color: #57AE14;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

/*Top Technology Stories*/
.top-technology-page {
    background-color: grey;
}

.technology-article-title {
    background-color: #CCCC2D;
    margin: 0 0 0 0;
    padding-left: 15px;
    padding-right: 15px;

}

.technology-article-byline {
    background-color: #E1E153;
    margin: 0 0 0 0;

}

.technology-article-section{
    background-color: #E1E153;
    margin: 0 0 0 0;

}

.technology-article-abstract{
    background-color: #FFFF87;
    margin: 0 0 0 0;
}

.technology-article-image {
    background-color: #E1E153;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

.technology-article-map {
    background-color: #CCCC2D;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

/*Top Business Stories*/
.top-business-page {
    background-color: grey;
}

.business-article-title {
    background-color: #672770;
    margin: 0 0 0 0;
    padding-left: 15px;
    padding-right: 15px;

}

.business-article-byline {
    background-color: #83478B;
    margin: 0 0 0 0;

}

.business-article-section{
    background-color: #83478B;
    margin: 0 0 0 0;

}

.business-article-abstract{
    background-color: #A071A7;
    margin: 0 0 0 0;
}

.business-article-image {
    background-color: #83478B;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

.business-article-map {
    background-color: #672770;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}



/*Article Search Page*/
.article-search-page {
    background-color: darkgray;
}