<section class="article-search-page">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h1>Article Search</h1>
    </div>
  </div>

<% @search_articles.each do |article| %>
    <div class='top-stories-business-articles'>
      <div class='row'>
        <div class='medium-12 columns top-stories-business-title'>
          <h4><%= link_to article[:headline][:main], article[:web_url] %></h4>
        </div>
      </div>
      <div class='row'>
        <div class='medium-6 columns top-stories-business-byline'>
          <p>Article Author</p>
        </div>
        <div class='medium-6 columns top-stories-business-section'>
          <p><%= article[:section_name] %></p>
        </div>
      </div>

      <div class='row'>
        <div class='medium-12 columns top-stories-business-byline'>
          <p><%= article[:snippet] %></p>
        </div>
      </div>
      <hr>
    </div>
<% end %>
</section>

<%#= @search_articles.first %>